[submodule "MFPSArchive/Vendor/7z"]
	path = MFPSArchive/Vendor/7z
	url = https://github.com/SegaraRai/7-Zip.git
	branch = 7z
[submodule "MFPSCue/Vendor/flac"]
	path = MFPSCue/Vendor/flac
	url = https://github.com/xiph/flac.git
[submodule "MergeFSMC/Vendor/yaml-cpp"]
	path = MergeFSMC/Vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
